@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
.carouselWrapper {
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  .leftArrow,
  .rightArrow {
    z-index: 1;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ddd;
  }
  .leftArrow {
    left: 24px;
  }

  .rightArrow {
    right: 24px;
  }
  @media (hover: none) and (pointer: coarse) {
    .leftArrow,
    .rightArrow {
      display: none;
    }
  }
  .carouselContentWrapper {
    width: 80%;
    height: 100%;
    overflow: hidden;
    .carouselContent {
      width: 100%;
      height: 100%;
      display: flex;
      transition: all 250ms linear;
      -ms-overflow-style: none;
      scrollbar-width: none;
      list-style: none;
    }
    .carouselContent::-webkit-scrollbar,
    .carouselContent::-webkit-scrollbar {
      display: none;
    }
    .carouselContent > * {
      width: calc(100% / 1);
      flex-shrink: 0;
      flex-grow: 1;
    }
    li {
      width: 100%;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      min-width: 300px;
      flex-direction: row;
      background-color: colors.$WHITE;
      border-radius: 20px;
      position: relative;
      @include flexbox.flexbox(even, center);
      .head {
        min-width: 300px;
        padding-left: 50px;
        @include flexbox.flexbox(center, center);
        flex-direction: column;
        .grade {
          min-width: 250px;
          text-align: center;
          margin-left: 50px;
        }
        .dl {
          width: 100%;
          height: 100%;
          min-width: 300px;
          flex-direction: row;
          background-color: colors.$WHITE;
          border-radius: 20px;
          @include flexbox.flexbox(center, center);
        }
        .item {
          @include flexbox.flexbox(evenly, center);
          margin: 15px;
          flex-direction: row;
          dt {
            margin-right: 20px;
            font-size: 15px;
            color: colors.$GRAY6;
            text-align: center;
            &::after {
              content: ': ';
            }
          }
          dd {
            font-size: 15px;
            color: colors.$GRAY6;
            text-align: center;
          }
        }
      }

      .data {
        width: 50%;
        min-width: 250px;
        flex-direction: row;
        padding-right: 50px;
        @include flexbox.flexbox(center, center);
      }
      .favBtn {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
      }
    }
  }
  .noResults {
    @include flexbox.flexbox(center, center);
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 878px) {
  .carouselWrapper {
    display: none;
  }
}
