@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
.ul {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  @include responsive.between(890px, 10000px) {
    display: none;
  }
  .button {
    @include flexbox.flexbox(center, center);
    flex-direction: row;
    width: 300px;
    height: 220px;
    padding: 20px;
    margin-top: 10px;
    background-color: colors.$WHITE;
    border-radius: 60px;

    .dl {
      width: 100%;
    }

    .item {
      @include flexbox.flexbox(evenly, center);
      flex-direction: row;
      margin: 15px;

      dt {
        min-width: 80px;
        margin-right: 0;
        font-size: 15px;
        color: colors.$GRAY6;
        text-align: center;

        &::after {
          content: ': ';
        }
      }

      dd {
        font-size: 15px;
        color: colors.$GRAY6;
        text-align: center;
      }
    }
  }
}
