@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.city {
  @include flexbox.flexbox(end, center);
  flex-direction: column;
  width: 360px;
  height: 720px;
  overflow: hidden;
  background-color: colors.$APP_BACKGROUND_COLOR;
  border-radius: 60px;

  .header {
    position: fixed;
    top: 0;
  }

  .title {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    color: colors.$GRAY3;
    text-align: center;
  }

  .main {
    width: 300px;
    height: 550px;
    overflow: scroll;
  }

  .link {
    font-size: 12px;
    line-height: 14px;
    color: colors.$SOSO;
    text-decoration: underline;
  }
}
