@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.seoul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  .main {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    .title {
      margin: 10px 0px 10px 0px;
      font-size: 29px;
      font-weight: 600;
      color: colors.$GRAY3;
      text-align: center;
    }

    .info {
      @include responsive.between(0px, 890px) {
        flex-direction: column;
        padding-top: 10px;
        overflow: scroll;
        justify-content: flex-start;
      }
      @include flexbox.flexbox(center, center);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      min-width: 300px;
      height: 75vh;
      background-color: colors.$WHITE;
      border-radius: 20px;
      display: flex;
      margin: 10px;
      align-items: center;

      .grade {
        text-align: center;
        padding: 40px;
      }
      .data {
        flex-direction: row;
        @include flexbox.flexbox(center, center);
      }
    }
  }
  aside {
    .link {
      font-size: 18px;
      color: colors.$SOSO;
      text-decoration: underline;
    }
  }
}
