@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.seoul {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 360px;
  height: 720px;
  overflow: hidden;
  background-color: colors.$APP_BACKGROUND_COLOR;
  border-radius: 60px;

  .header {
    position: fixed;
    top: 0;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    color: colors.$GRAY3;
    text-align: center;
  }

  .main {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    width: 300px;
    height: 550px;
    padding: 20px;
    margin-top: 100px;
    background-color: colors.$WHITE;
    border-radius: 60px;
  }

  .link {
    font-size: 12px;
    line-height: 14px;
    color: colors.$SOSO;
    text-decoration: underline;
  }
}
