@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.grade {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  min-width: 80px;
  max-width: 200px;
  padding-top: 15px;
}

.goodIcon {
  fill: colors.$GOOD;
}

.sosoIcon {
  fill: colors.$SOSO;
}

.badIcon {
  fill: colors.$BAD;
}

.veryBadIcon {
  fill: colors.$VERYBAD;
}

.fixIcon {
  fill: colors.$GRAY6;
}

.status1 {
  width: 80px;
  margin: 0 20px 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: colors.$GOOD;
  text-align: center;
}

.status2 {
  width: 80px;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: colors.$SOSO;
  text-align: center;
}

.status3 {
  width: 80px;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: colors.$BAD;
  text-align: center;
}

.status4 {
  width: 80px;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: colors.$VERYBAD;
  text-align: center;
}

.status5 {
  width: 80px;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: colors.$GRAY6;
  text-align: center;
}
