@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.bg {
  @include flexbox.flexbox(center, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}

.modalActive {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  width: 300px;
  height: 550px;
  padding: 10px;
  overflow: scroll;
  color: colors.$GRAYD;
  background-color: colors.$WHITE;
  border-radius: 60px;

  .head {
    width: 230px;
    margin-top: 10px;
    @include flexbox.flexbox(between, start);

    .backBTN {
      .backIcon {
        fill: colors.$SOSO;
      }
    }

    .favBTN {
      .starIcon1 {
        fill: colors.$BAD;
      }

      .starIcon2 {
        fill: colors.$GRAYD;
      }
    }
  }

  .item {
    @include flexbox.flexbox(evenly, center);
    flex-direction: row;
    margin: 15px;

    .dl {
      width: 100%;
    }

    dt {
      margin-right: 20px;
      font-size: 15px;
      color: colors.$GRAY6;
      text-align: center;

      &::after {
        content: ': ';
      }
    }

    dd {
      font-size: 15px;
      color: colors.$GRAY6;
      text-align: center;
    }
  }
}
