@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.info {
  @include flexbox.flexbox(between, center);
  flex-direction: column;

  .title {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: colors.$GRAY3;
    text-align: center;
  }

  .item {
    @include flexbox.flexbox(evenly, center);
    flex-direction: row;
    margin: 15px;

    .dl {
      width: 100%;
    }

    dt {
      margin-right: 20px;
      font-size: 15px;
      font-weight: 600;
      color: colors.$GRAY6;
      text-align: center;

      &::after {
        content: ': ';
      }
    }

    dd {
      font-size: 15px;
      font-weight: 600;
      color: colors.$GRAY6;
      text-align: center;
    }
  }
}
